<form method="post" action="/bookmarks/new">
  <input type="text" name="url" placeholder="url" >
  <input type="text" name="title" placeholder="title" >
  <input type="submit" value="submit" >
</form>
